* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: rgb(196, 88, 189);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calender {
    background-color: black;
    color: white;
    width: 450px;
    height: 520px;
  }
  
  .month {
    width: 100%;
    height: 120px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .month h1 {
    color: red;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  
  .month p {
    font-size: 16px;
    font-weight: bold;
    color: purple;
  }
  
  .weekdays {
    width: 100%;
    height: 50px;
    display: flex;
  }
  
  .weekdays div {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
  }
  
  .days div {
    font-size: 14px;
    margin: 3px;
    width: 57.5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .days div:hover:not(.empty) {
    border: 2px solid gray;
    cursor: pointer;
  }
  
  .today {
    background-color: lightseagreen;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .calender {
      width: 90%;
      height: auto;
    }
  
    .month {
      height: 100px;
    }
  
    .month h1 {
      font-size: 24px;
    }
  
    .month p {
      font-size: 14px;
    }
  
    .weekdays div {
      font-size: 12px;
    }
  
    .days div {
      font-size: 12px;
      width: 45px;
      height: 40px;
    }
  }
  